apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress.yaml

patches:
  - path: env-patch.yaml
  - path: resource-patch.yaml
  - path: storage-patch.yaml