apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-backend-ingress
spec:
  ingressClassName: gce
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: api-backend
            port:
              number: 8080
