apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./shared/base/web-frontend
images:
  - name: imrightguycloudtolocalllm.azurecr.io/web
    newTag: main-dedefb82cd5937f54d46dcdf68e88c0c412fb78d
patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: web
        namespace: cloudtolocalllm
      spec:
        replicas: 1
        template:
          spec:
            containers:
              - name: web
                resources:
                  requests:
                    memory: "128Mi"
                    cpu: "10m"
                  limits:
                    memory: "256Mi"
                    cpu: "250m"