apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: streaming-proxy-ingress
  annotations:
    kubernetes.io/ingress.class: "gce"
spec:
  rules:
  - http:
      paths:
      - path: /socket.io/*
        pathType: Prefix
        backend:
          service:
            name: streaming-proxy
            port:
              number: 8080
