apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: streaming-proxy-ingress
spec:
  ingressClassName: gce
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: streaming-proxy
            port:
              number: 8081