apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../app_base/redis
patches:
  - patch: |-
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: redis-tunnel-state
        namespace: cloudtolocalllm
      spec:
        volumeClaimTemplates:
        - metadata:
            name: redis-data
          spec:
            accessModes: ["ReadWriteOnce"]
            storageClassName: default
            resources:
              requests:
                storage: 1Gi