apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-backend
  namespace: cloudtolocalllm
spec:
  template:
    spec:
      containers:
        - name: api-backend
          env:
            - name: APP_MODE
              value: "managed"
            - name: ENABLE_BILLING
              value: "true"
            - name: ENABLE_MULTI_TENANCY
              value: "true"
            - name: ADMIN_CENTER_ENABLED
              value: "true"
            - name: ENABLE_ADMIN_PAYMENTS
              value: "true"