apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/imrightguy/CloudToLocalLLM/k8s/apps/base/postgres?ref=main
patches:
  - patch: |-
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: postgres
        namespace: cloudtolocalllm
      spec:
        volumeClaimTemplates:
        - metadata:
            name: postgres-data
          spec:
            storageClassName: hostpath