apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./shared/base/postgres
patches:
  - patch: |-
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: postgres
        namespace: cloudtolocalllm
      spec:
        volumeClaimTemplates:
        - metadata:
            name: postgres-data
          spec:
            accessModes: ["ReadWriteOnce"]
            storageClassName: default
            resources:
              requests:
                storage: 10Gi