apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../app_base/api-backend
patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: api-backend
        namespace: cloudtolocalllm
      spec:
        template:
          spec:
            containers:
              - name: api-backend
                env:
                  - name: APP_MODE
                    value: "local"
                  - name: ENABLE_BILLING
                    value: "false"
                  - name: ENABLE_MULTI_TENANCY
                    value: "false"
                  - name: ADMIN_CENTER_ENABLED
                    value: "true"
                  - name: ENABLE_ADMIN_PAYMENTS
                    value: "false"
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: api-backend
        namespace: cloudtolocalllm
      spec:
        replicas: 1
        template:
          spec:
            containers:
              - name: api-backend
                resources:
                  requests:
                    memory: "128Mi"
                    cpu: "100m"
                  limits:
                    memory: "512Mi"
                    cpu: "250m"