apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cloudtolocalllm-staging

resources:
  - ../../api-backend-deployment.yaml
  - ../../web-deployment.yaml
  - ../../configmap.yaml
  - ../../secrets.yaml

# Staging uses test Stripe keys (default in base deployment)
# No patches needed as base deployment already uses test keys
